/* HTML override */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: black;
}

:focus {
    outline: 3px solid red;
    border-radius: 5px;
}

/* COMMON */

.btn-bar a, .btn-bar button{
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.page-centered-container{
    margin: 100px calc(10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-container-row{
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

@media(max-width: 800px) {
    .page-centered-container{
        margin-top: 30px;
    }
}

/* MAIN PAGE */

.main-header-title {
    font-size: 30px;
    padding: 20px 10px;
}

.page-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:max-content;
}

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}

.inner-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-elem {
    margin-right: 10px;
}

@media(max-width: 800px) {
    .main-menu {
        flex-direction: column;
    }

    .inner-menu {
        flex-direction: column;
    }

    .menu-elem {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* TEST LIST */

.page-centered-container h1 {
    margin: 0;
    background-color: #efefef;
    padding: 20px 50px;
    text-align: center;
    color: #b4173e;
}

.testList-row:hover{
    background-color: lightyellow;
}

.page-testlist-row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-testlist-row-info {
    display: flex;
    flex-direction: row;
}

.page-testlist-row-data{
    margin-right: 20px;
}

@media(max-width: 800px) {
    .page-testlist-row-container{
        flex-direction: column;
    }

    .page-testlist-row-info {
        flex-direction: column;
    }

    .page-testlist-row-data{
        margin-right: 0;
        padding-bottom: 10px;
        text-align: center;
    }
}

/* SELECTED EXAM */
.page-question-radioButton {
    padding: 20px 30px;
}

.page-question-radioButton-option {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input[type="radio"]{
    margin-top: 0;
    margin-right: 6px;
    height: 19px;
    width: 19px;
}

.page-question-movementButton {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 20px;

}

.page-question-movementButton button{
    margin: 10px;
}

/* RESULTS */

.page-results-answer{
    padding-top: 10px;
}

.page-results-scoreInfo{
    padding-top: 10px;
}

.page-results-finalScore {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page-results-finalScore-text{
    padding-bottom: 10px;
}

.page-results-finalScore button {
    padding-top: 10px;
}

@media(max-width: 800px) {
    .page-centered-container h2 {
        font-size: 18px;
    }
}

/* ADD TEST */

.test-add{
    margin: 70px calc(10%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.test-add-main{
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 300px;
}

.test-add-main-nome{
    display: flex;
    flex-direction: column;
}


.test-add-main-order, .test-add-main-numbered{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.test-add-main-controls{
    display: flex;
    justify-content: center;
}

/* ADD QUESTION */

.test-add-question {
    margin: 100px calc(10%);
}


/* API TEST */

.api-test-main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.api-test-bar{
    display: flex;
    flex-direction: column;
}

.api-test-bar button{
    margin-bottom: 10px;
    background-color: dodgerblue;
}

.api-test-results{
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    margin: 10px;
    border: 1px solid dodgerblue;
    white-space: pre-wrap;
}


/* TAKE TEST */


.question{
    margin: 20px 0;
}