/* HTML override */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: black;
}

/* COMMON */

.btn-bar a, .btn-bar button{
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.page-centered-container{
    margin: 100px calc(10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-container-row{
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

/* MAIN PAGE */

.page-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:max-content;
    padding: 10px;
}

.page-content{
    margin: 10px;
}

/* MENU */
.menu-main{
    padding: 10px;
}

.menu-main a{
    margin-right: 10px;
}


.main-header  {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.main-header-title{
    font-size: 30px;
}

.main-header-status {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main-header-status div {
    margin-right: 20px;
}

.main-header-status div img{
    width: 13px;
}

.main-header h1{
    padding-top: 50px;
    font-weight: 400;
    font-size: 40px;
}


/* TEST LIST */

.page-centered-container h1 {
    margin: 0;
    background-color: #efefef;
    padding: 20px 50px;
    text-align: center;
    color: #b4173e;
}

.page-testlist-list{
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;

}

.page-testlist-row:hover{
    background-color: lightyellow;
}

.page-testlist-row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-testlist-row-info {
    display: flex;
    flex-direction: row;
}

.page-testlist-row-data{
    margin-right: 20px;
}

.page-testlist-row-nome {
    margin-right: 20px;
}

.page-testlist-row-chevron {
    all: unset;
    cursor: pointer;
}

.page-testlist-row-chevron:focus {
    outline: orange 5px auto;
}

.page-testlist-row-chevron img{
    width: 13px;
}

.page-testlist-row-actions{
    display: none;
    border-top: 1px solid #dee2e6;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.page-testlist-row-actions.btn-bar{
    padding: 20px 0 10px 0;
}

@media(max-width: 800px) {

}

/* SELECTED EXAM */
.page-question-radioButton {
    padding: 20px 30px;
}

.page-question-radioButton-option {
    padding-bottom: 10px;
}

.page-question-movementButton {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 20px;

}

.page-question-movementButton button{
    margin: 10px;
}

/* RESULTS */


/* ADD TEST */

.test-add{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.test-add-main{
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 300px;
}

.test-add-main-nome{
    display: flex;
    flex-direction: column;
}


.test-add-main-order, .test-add-main-numbered{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.test-add-main-controls{
    display: flex;
    justify-content: center;
}


/* API TEST */

.api-test-main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.api-test-bar{
    display: flex;
    flex-direction: column;
}

.api-test-bar button{
    margin-bottom: 10px;
    background-color: dodgerblue;
}

.api-test-results{
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    margin: 10px;
    border: 1px solid dodgerblue;
    white-space: pre-wrap;
}


/* TAKE TEST */


.question{
    margin: 20px 0;
}