/* HTML override */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: black;
}

:focus {
    outline: 5px dotted rebeccapurple;
    border-radius: 0;
}

h1, h2, label, li, .break-word{
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/* COMMON */

.btn-bar a, .btn-bar button{
//font-size: 14px;
    font-weight: bold;
    font-size: 13.33px;
    padding: 10px;
    margin: 10px;
    background-color: orange;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
}

.btn-bar a:hover, .btn-bar button:hover{
    background-color: #007575;
    color: white
}

.page-centered-container{
    margin: 70px calc(10%) 20px calc(10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-centered-container-row{
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

.error-message{
    width: 100%;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    background-color: #b4173e;
    text-align: center;
    color: white;
    font-weight: bold;
}

@media(max-width: 800px) {
    .page-centered-container{
        margin-top: 30px;
    }
}
/* NAVBAR */

.main-header{
    display: flex;
    flex-direction: row;
    vertical-align: top;
}

.main-header-logo{
    padding: 20px 10px;
}

.main-header-logo img{
    user-select: none;
    width: 40px;
    height:40px;
}

.main-header-title {
    font-size: 30px;
    padding: 20px 0px;
}

.page-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:max-content;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 5% 20px 5%;
}

.navlink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navlink a{
    width: 110px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    margin: 0 calc(5% + 10px);
    padding: 10px 0;
}

/* NO PAGE*/
.page-nopage-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

/* TEST LIST */

.page-centered-container h1 {
    margin: 0;
    background-color: #efefef;
    padding: 20px calc(5%);
    text-align: center;
                color: #b4173e;
}

.testList-row:hover{
    background-color: lightyellow;
}

.page-testList-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.page-testlist-row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-testlist-row-info {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.page-testlist-row-data{
    width: 80%;
    margin-right: 20px;
}

/* SELECTED EXAM */
.page-question-radioButton {
    padding: 20px 30px;
}

.page-question-radioButton-option {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.page-question-radioButton-option label{
    width: 98%;
}

.page-question-movementButton {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 20px;
}

.page-question-movementButton button{
    margin: 10px;
    width: 160px;
}

/* RESULTS */

.page-results-questionResult{
    padding-top: 10px;
}

.page-results-finalScore {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page-results-finalScore h2 {
    text-align: center;
}

.page-results-finalScore-text{
    padding-bottom: 10px;
    width: 98%;
}

.page-results-finalScore button {
    padding-top: 10px;
}

/* ADD TEST */

.test-add{
    margin: 70px calc(10%);
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.test-add-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.test-add-main > div{
    margin-bottom: 10px;
}

.test-add-main-nome{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.test-add-main-nome input{
    margin-right: 10px;
    flex-grow: 10;
    min-width: 0px;
}

.test-add-main-nome label{
    margin-right: 10px;
    flex-grow: 1;
}

.test-add-main-controls{
    display: flex;
    justify-content: center;
}

/* ADD QUESTION */


.test-add-question{
    margin: 70px calc(10%);
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.test-add-question-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.test-add-question-main>div{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.test-add-question-main input[type="text"]{
    margin-right: 10px;
    flex-grow: 10;
    min-width: 0px;
}

.test-add-question-main label{
    margin-right: 10px;
    flex-grow: 1;
}

.test-add-answer-controls button{
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

.test-add-answer-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.test-add-answer-main-entry {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.test-add-answer-main-entry > div {
    padding-right: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.test-add-answer-main-entry-num div{
    width: 100%;
}

.test-add-answer-main-entry-nome input[type="text"] {
    width: 100%;
}

.test-add-answer-main-entry-punteggio input[type="text"] {
    width: 100%;
}


.test-add-answer-main-entry-nome {
    flex-grow: 20!important;
}


.test-add-question-main-controls{
    text-align: center;
}

.test-add-question-main-controls > button{
    margin-right: 10px;
}


/* API TEST */

.api-test-main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 20px;
}

.api-test-bar{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.api-test-bar button{
    margin-bottom: 10px;
    background-color: dodgerblue;

}

.api-test-results{
    display: flex;
    flex-direction: column;
    flex-grow: 20;
    margin: 10px;
    border: 1px solid dodgerblue;
    white-space: pre-wrap;
}


/* TAKE TEST */


.question{
    margin: 20px 0;
}

/* MEDIA QUERY */

@media screen and (max-width: 800px) {
    /* COMMON */

    .page-centered-container{
        margin-top: 30px;
        margin-left: calc(2%);
        margin-right: calc(2%);
    }

    .page-centered-container h1 {
        font-size: min(6.5vw, 32px);
    }

    .page-centered-container h2 {
        font-size: min(6vw, 24px);
    }

    .btn-bar a{
        font-size: min(13.33px, 5.5vw);
    }

    .btn-bar button{
        font-size: min(13.33px, 5.5vw);
    }

    .label{
        font-size: min(5.5vw, 16px);
    }

    /* NAVBAR */

    nav {
        flex-direction: column;
    }

    .navlink {
        flex-direction: column;
    }

    .navlink a{
        width: min(110px, 30vw);
    }

    .userInfo {
        font-size: min(5vw, 16px);
    }

    /* EXAM LIST */

    .page-testlist-row-container{
        flex-direction: column;
    }

    .page-testlist-row-info {
        width: 100%;
        flex-direction: column;
    }

    .page-testlist-row-data{
        width: 100%;
        margin-right: 0;
        padding-bottom: 10px;
        text-align: center;
        font-size: min(5.5vw, 16px);
    }

    /* SELECTED EXAM*/

    .page-question-radioButton-option label{
        width: 90%;
    }

    .page-question-movementButton button {
        width: min(160px, 34vw);
    }

    /* RESULTS */

    .page-results-questionResult, .page-results-finalScore-text {
        font-size: min(5.5vw, 16px);
        width: 90%;
    }

    .page-results-finalScore button{
        width: min(120px, 30vw);
    }

}

@media screen and (max-width: 500px) {

    /* COMMONS */

    .btn-bar a{
        font-size: min(13.33px, 5vw);
    }

    .btn-bar button{
        font-size: min(13.33px, 5vw);
    }

    .page-centered-container-row {
        padding-right: 10px;
        padding-left: 10px;
    }

    label {
        font-size: min(5vw, 16px);
    }

    /* NAVBAR */

    .userInfo {
        font-size: min(5vw, 16px);
    }

    /* EXAM LIST */

    .page-testlist-row-data{
        font-size: min(5vw, 16px);

    }

    /* SELECTED EXAM*/
    .page-question-radioButton{
        padding-right: 10px;
        padding-left: 10px;
    }

    .page-question-movementButton{
        padding-right: 0;
        padding-left: 0;
        justify-content: space-evenly;
    }

    /* RESULTS */

    .page-results-questionResult, .page-results-finalScore-text {
        font-size: min(5vw, 16px);
    }
}