<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

    /* HTML override */

    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%
    }

    a, a:hover, a:visited, a:active{
        text-decoration: none;
        color: black;
    }

    input[type="text"]{
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
    }

    input[type="checkbox"],input[type="radio"]{
        border-radius: 5px;
        width: 25px;
        height: 25px;
    }




    /* LOGIN */
    .main-header-title {
        font-size: 30px;
        padding: 20px 10px;
    }
    .page-login-header{
        display: flex;
        flex-direction: row;
    }

    .page-login
    {
        width: 300px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    .form-group{
        display: flex;
        flex-direction: column;
    }

    .form-group-row{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .form-group-row input[type="text"]{
        width: 100%;
    }

    .form-group-row label{
        width: 100%;
    }


    .btn-bar a, .btn-bar button{
        font-weight: bold;
        font-size: 13.33px;
        padding: 10px;
        margin: 10px;
        background-color: orange;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        text-transform: capitalize;
        text-align: center;
    }

    .page-login-submit-main button{
        text-align: center;
    }

</style>
