<!DOCTYPE HTML>
<html lang="it" xmlns:th="http://www.thymeleaf.org" >
<head>


    <title>Testero Login</title>
    <div th:replace="head"></div>

    <script>
        function onLoad(){
            let field = document.getElementById("page-login-username");
            if (field != null){ field.focus(); }
        }
    </script>

</head>

<body onload="onLoad()">
    <div class="page-content" >
        <header class="page-login-header">
            <div class="main-header-logo" ><img src="/testero-logo-192.png" alt="Testero logo"/></div>
            <h1 class="main-header-title" >Testero&#8482;</h1>
            <h1 class="main-header-title" >Login</h1>
        </header>
        <main class="page-login">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <div class="form-group-row page-login-message" th:utext="${errorMessage}"></div>
                    <div class="form-group-row page-login-username-main">
                        <label for="page-login-username"  id="page-login-username-label" aria-label="Inserisci nome utente">Username</label>
                        <input type="text" name="username" id="page-login-username" aria-labelledby="page-login-username-label"/>
                    </div>
                    <div class="form-group-row page-login-password-main">
                        <label for="page-login-password" id="page-login-password-label" aria-label="Inserisci password">Password</label>
                        <input type="password" name="password" id="page-login-password" aria-labelledby="page-login-password-label"/>
                    </div>
                    <div class="btn-bar form-group-row page-login-submit-main">
                        <button type="submit" id="page-login-submit" aria-label="Accedi">Login</button>
                    </div>
                </div>
            </form>
        </main>
    </div>

</body>

</html>